*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

section{
    width: 100%;
}

header{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 5.2vw;
    transition: .3s ease;
}

@keyframes header{
    0%{
        top: -100px;
    }
    100%{
        top: 0;
    }
}

.header{
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.2vw;
    width: 90%;
    margin: 0 5vw;
}

.fixed{
    top: 0;
    position: fixed;
    width: 100%;
    animation-name: header;
    animation-duration: .3s;
}

.usht{
    color: black;
}

h1{
    font-size: 50px;
}

.tour{
    padding-top: 7vw;
    height: 35vw;
}

.tour-title{
    text-align: center;
    margin-bottom: 5vw;
}

.logo img{
    margin-top: 1.5vw;
    width: 10vw;
    height: 9.5vw;
    margin-left: 0;
    display: inline-block;
}

.logo-black{
    filter: invert(1);
}

.links{
    display: flex;
    justify-content: space-between;
    width: 45vw;
    font-size: 0.85vw;
}

.link{
    color: #fff;
    font-weight: 600;
    transition: .5s ease;
}

.link-black{
    color: black;
}

.link:hover{
    transform: translateY(-5px);
}

.tour-buttons{
    margin: 0 auto;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.button{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 11.16vw;
    height: 2.78vw;
    font-weight: 600;
    border-radius: 0.8vw;
    transition: .5s ease;
    border: .14vw solid black;
    font-size: 1vw;
}

.button:hover{
    box-shadow: -3px 3px 10px #5DCFC3;
    border: .14vw solid #5DCFC3;
    background-color: #5DCFC3;
    color: #fff;
}

/*------------Main---------------*/

main{
    align-items: center;
    width: 100%;
    height: 35vw;
    color: white;
    text-decoration: none;
}


.main-bg{
    z-index: -1;
    width: 100%;
    height: 40vw;
    position: absolute;
    object-fit: cover;
}

.upper-title{
    letter-spacing: 0.52vw;
    font-size: 1.56vw;
    padding-top: 10vw;
    display: block;
    text-align: center;
}

main .button{
    background-color: #fff;
    border: 2px solid #fff;
}

main .button:hover{
    box-shadow: none;
    background-color: #886755;
    color: #fff;
    border: 2px solid #886755;
}

.main-title{
    display: block;
    font-size: 3.13vw;
    margin: 2vw auto;
    width: 60vw;
    text-align: center;
}

/*--------------Information-----------------*/


.information{
    color: rgb(94, 94, 94);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 5vw;
    background: #fff;
}

.information img{
    border-radius: 2.5vw;
    object-fit: cover;
    width: 25.52vw;
    height: 27.08vw;
    margin-right: 4vw;
}

.information h2{
    font-size: 2.2vw;
}

.geoglyph-info{
    font-size: 0.8vw;
}

.geoglyph-info{
    margin-top: 0.7vw;
}

.information b{
    color: #5DCFC3;
}

.information-text{
    width: 33vw;
    line-height: 1.7;
}

.torgai-title{
    margin-top: 1vw;
}

/*=============main info===================*/

.main-info{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: rgb(94, 94, 94);
}

.main-info h2{
    padding-top: 15vh;
    display: block;
    font-size: 2.86vw;
}

.main-info h2:after{
    content: "";
    display: block;
    height: 2px;
    width: 30%;
    margin: 0 auto;
    border-top: 3px solid #5DCFC3;
}

.description{
    font-size: 1.3vw;
    width: 60vw;
    margin: 2vw auto 0;
}

.blocks{
    color: #fff;
    width: 75vw;
    margin: 5vw auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
}

.block{
    font-size: 18px;
    width: 16.5vw;
    height: 16.5vw;
    border-radius: 2.3vw;
    background-color: #5DCFC3;
    transition: .5s ease;
}

.block:hover{
    box-shadow: 0 0 25px #009E8E;
    transform: scale(1.05);
}

.block-statistics{
    margin-top: 2vw;
    font-size: 5vw;
}

.block-inf{
    font-size: 0.95vw;
    font-weight: normal;
    width: 92%;
    margin: 0 auto;
}

/*============Ushtogai Main================*/

.ushtogai_main{
    width: 100%;
    height: 120vh;
    background-color: #fff;
}

.ushtogai_main .description{
    margin-top: 0;
    width: 38vw;
    text-align: left;
}

.main-info h2:after{
    width: 40%;
    border-top: 4px solid #5DCFC3;
}

.ushtogai_main_pictures{
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 5vw auto 0;
}

.ushtogai_main-picture{
    object-fit: cover;
    width: 21vw;
    height: 20vw;
    border-radius: 30px;
    transition: 0.5s ease;
}

.ushtogai_main-picture:hover{
    transform: scale(1.05);
}

.ushtogai_text{
    width: 70vw;
    margin: 4vw auto;
    font-weight: 500;
    font-size: 1vw;
}

.ushtogai_text p:nth-child(2){
    margin: 2vw 0 0 0;
}

.ushtogai_main .button{
    margin-top: 2vw;
}


/*==============Video Section===================*/

.video{
    width: 100%;
    height: 80vh;
    background-color: #fff;
}

.yt_video{
    margin: 5vw 0 0 25vw;
    width: 51.7vw;
    height: 60vh;
    text-align: center;
}

/*=================Trikvetr====================*/

.trikvetr_main {
    height: 120vh;
}



.trikvetr_pictures{
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 5vw auto 0;
}

.trikvetr_main-picture{
    object-fit: cover;
    width: 21vw;
    height: 20vw;
    border-radius: 30px;
    transition: 0.5s ease;
    transition: .5s ease;
}

.trikvetr_main-picture:hover{
    transform: scale(1.05);
}

.trikvetr_text{
    width: 70vw;
    height: 100vh;
    margin: 4vw auto;
    font-weight: 500;
    font-size: 1vw;
}

.trikvetr_text p:nth-child(2){
    margin: 2vw 0 0 0;
}

.trikvetr_main .button{
    margin: 2vw auto 0;
}

.trikvetr_main .yt_video{
    margin: 5vh 0 0 0;
}

/*================Interview==================*/

.interview_main{
    height: 95vh;
}

.interview_main .main-title{
    font-size: 5vw;
    margin: 0 auto 2vw;
    padding-top: 15vw;
}

.interview{
    height: 100vh;
    text-align: center;
    color: rgb(94, 94, 94);
}

.interview h3{
    font-size: 2.5vw;
    margin: 1vw 0 1vw 0;
}

.interview h3:after{
    content: "";
    display: block;
    height: 2px;
    width: 40%;
    margin: 0 auto;
    border-top: 3px solid #5DCFC3;
}

.interview_info{
    font-size: 1.2vw;
    width: 60vw;
    margin: 0 auto 2vw;
}

.interview .yt_video{
    margin-top: 2vw;
    margin-left: 0;
    width: 59vw;
    height: 63vh;
}

/*=================Map=====================*/

.map{
    width: 100%;
    height: 110vh;
    text-align: center;
}

.map h2{
    padding-top: 14vh;
    font-size: 2.86vw;
    color: rgb(94, 94, 94);
    margin-bottom: 2vw;
}

.map h2:after{
    content: "";
    display: block;
    height: 2px;
    width: 30%;
    margin: 0 auto;
    border-top: 3px solid #5DCFC3;
}

.map_block{
    width: 65vw;
    height: 75vh;
}

/*=========Footer============*/

footer{
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 45vh;
    background-color: rgb(94, 94, 94);
    text-align: center;
    color: white;
    font-size: 1.2vw;
}

footer .logo{
    margin-top: -2vw;
    object-fit: contain;
    width: 15vw;
    height: 15vw;
    filter: invert(0);
}

footer p{
    margin-top: -3vw;
}

.social_media{
    z-index: 1;
    width: 15vw;
    margin: 2vw auto 0;
    display: flex;
    justify-content: space-between;
}

.social_media a{
    width: 2vw;
    height: 2vw;
    color: white;
    text-decoration: none;
}

.social_media i{
    font-size: 2vw;
    transition: .5s ease;
}

.social_media i:hover{
    transform: translateY(-0.5vw);
}

.copyright{
    position: absolute;
    top: 100%;
    display: flex;
    width: 100%;
    height: 3.5vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(80, 80, 80);
}